*{
	margin:0;
	padding: 0;
}
ul{
	list-style: none;
}
body * {
    font-family: "Microsoft YaHei","Arial","黑体","宋体",sans-serif;
    font-weight: normal;
    font-size: 14px;
}
body,html{
	height: 100%;
	overflow-x: hidden;
}
.hidden{
	display: none;
}
.strong{
	font-weight: bold;
	color: #000000;
}
.clear:after{
	clear: both;
	display: block;
	content: "";
	visibility: hidden;
	height: 0;
}
.container{
	margin-left: 10px;
}
.table_header{
	width: 1200px;
	height: 20px;
}
li{
	display: inline-block;
}
.cell{
	line-height: 20px;
	text-align: left;
    font-weight: normal;
    color: #333;
}
.TimeValue{
	min-height: 20px;
	width: 150px;
	text-align: center;
	vertical-align: top;
}
.delete{
	background: #cccccc;
	color: #ffffff;
	border: 0;
	width: 20px;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
	border-radius: 3px;
	display: none;
}
.active .delete{
	display: inline-block;
}
.bar{
	width: 240px;
}
.btn{
	vertical-align: top;
	margin-top: 5px;
}
select{
	border: none;
	border-bottom: 1px dashed #c1c1c1;
}
.allTime{
	width: 140px;
}
select:focus{
	background: #ffffff;
}
.fromTime, .from{
	width: 70px;
}
.from{
	width: 74px;
	border-right:1px dashed #c1c1c1;
}
.fromTime, .allTime{
	border-right: 1px dashed #c1c1c1;
}
.endTime, .until{
	width: 64px;
	border-right: 1px dashed #c1c1c1;
}
.comparsion {
	width: 455px;
}
.errorValue{
	vertical-align: top;
}
.compareValue{
	vertical-align: top;
	text-align: center;
}
.alerts, .alertValue{
	width: 220px;
	border-left: 1px dashed #c1c1c1;
}
.row_add{
	width: 988px;
	background: #daeff6;
	color: #c1c1c1;
	border: 1px solid #efefef;
}
.table_body{
	width: 990px;
}
.fa{
	float: right;
	margin-top: 2px;
	margin-right: 2px;
	vertical-align: middle;
}
.fa-close{
	margin: 0;
	box-shadow: 0 2px 2px #000000;
}
.white{
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	padding:2px 0;
	line-height: 18px;
	border-radius: 2px;
	width: 140px;
	margin: 2px 0;
}
.pray{
	color: #c1c1c1;
}
.warning{
	background: #ffcc00;
}
.error{
	background: #f26522;
}
.critical{
	background: #ed1e24;
}
.alertValue input{
	width: 50px;
	border: none;
	border-bottom: 1px dashed #c1c1c1;
	outline: #c1c1c1;
	margin: 0 5px;
}
.alertValue .bar{
	margin: 0;
}
.editing select:focus, .editing input:focus{
	background: #ffffff;
}
.view{
	width: 985px;
	border-left: 5px solid #32fefe;
}
.editing, .editing select, .editing input{
	background: #efefef;
}
.active{
	border-bottom: 1px solid #8CE0FC;
	border-top: 1px solid #8CE0FC;
	background: #C6EEFB;
}
.active select, .active input{
	background: #C6EEFB;
}
.save{
	width: 40px;
	margin-left: 10px;
	text-align: center;
	background: #602372;
	border: none;
	height: 25px;
	position: relative;
	bottom: 6px;
	color: #ffffff;
	font-size: 16px;
	line-height: 25px;
	border-radius: 3px;
	display: none;
}
.active .save{
	display: inline-block;
}
.colorbar{
	font-size: 0;
	position: absolute;
	top: 40%;
}
.color{
	display: inline-block;
	z-index: 20;
	width: calc(971px / 96);
	height: 20px;
	background: #efefef;
}
.timebar{
	font-size: 0;
	position: relative;
	top: 70px;
	left: 15px;
}
.time{
	display: inline-block;
	width: 79px;
	height: 80px;
	text-align: right;
	border-right: 1px solid #efefef;
}
.view.purple{
	border-left-color: #5f2f69;
}
.view.lightblue{
	border-left-color: #009edf;
}
.view.green{
	border-left-color: #9cc416;
}
.view.blue{
	border-left-color: #0049a0;
}
.view.magenta{
	border-left-color: #9e156d;
}
.view.brightgreen{
	border-left-color: #10b50c;
}
.color.purple{
	background: #5f2f69;
}
.color.lightblue{
	background: #009edf;
}
.color.green{
	background: #9cc416;
}
.color.blue{
	background: #0049a0;
}
.color.magenta{
	background: #9e156d;
}
.color.brightgreen{
	background: #10b50c;
}
.expand{
	height: 40px;
	position: relative;
	top: 10px;
}
.relative{
	position: relative;
	min-height: 100px;
	width: 1100px;
	margin: 0 auto 100px auto;
}
.header{
	position: absolute;
	top: 10px;
}
.middle{
	position: relative;
	top: 55px;
}
.middle div{
	margin: 2px 0;
}
.outputBar{
	width: 960px;
	min-height: 50px;
	left: 15px;
	position: relative;
	top: 80px;
	border: 1px solid #efefef;
	padding: 4px;
	box-sizing: content-box;
}
.inputBar{
	width: 1100px;
	margin: auto;
}
.inputBar input{
	border: 3px solid #efefef;
	width: 300px;
	height: 30px;
	border-radius: 3px;
}
.inputBar button{
	background: #9e156d;
	border: 3px solid #9e156d;
	color: #ffffff;
	width: 80px;
	height: 36px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}
.table_header .cell{
	padding-left: 3px;
}